<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/public/css/style.css"><h1 id="hi">HI, I AM IN <span id="hk">HONG KONG</span></h1>
    
    <nav>
    <a href="/feed/please"><ul id="navbar">
        ME</ul></a>
    </nav>
</head>
<body>
     

	<div class="container">
		{{{body}}}
	</div>
    
</body>
</html>